<h1>Bienvenido al IronTumblr</h1>
<div class="post-wrapper">
  {{#each posts}}
  <div class="post-item">
    <img src="{{this.imgPath}}" alt="">
    <h4>{{this.content}}</h4>
  </div>
  {{else}}
  <p>No hay noticias nuevas</p>
  {{/each}}
</div>
