<h2>Crea un nuevo Post:</h2>
<form action="/post" method="POST" enctype="multipart/form-data">
    <label for="">¿Qué estás pensando?</label>
    <input type="text" name="content">
    <label for="imgName">Nombre de la foto</label>
    <input type="text" name="imgName">

    <label for="imgPath">Foto</label>
    <input type="file" name="imgPath">

    <input type="submit" value="Guardar">
</form>